ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.poke-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cont{
    padding:10px 200px ;
}
.pokemon{
    text-align: center;
    width: 300px;
}
body{
    margin: 0;
}